h1{
    color: green;
}
#Title{
    color: blueviolet;
    font-size: 30px;
}
#about{
    color: red;
}
#Title2{
    color: black;
}
#Sarcasm1{
    color:brown;}
.Skills{
    color: maroon;
}
header{
    background-color: papayawhip;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Section1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#picture{
    width: 200px;

}